*{margin: 0%;
padding: 0%;
box-sizing: border-box;}
body {background-color: white;
max-width: 450px;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
margin-right: 5%;
margin: 0%;
}
header{
    height: 7%;
    width: 100%;
    background-color: #F5E5E5;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;}
img{width: 10%;
    height: 45%;
    }
.menuPuntos{margin-left: 30%;}
h1{margin-left: 6%;}
.boxPerfil{width: 80%;
height: 22%;
background-color: #F5E5E5;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;}
.boxFotosPerfil{
    height: 60%;
    width: 30%;}
    .fotosPerfil{
        width: 100%;
        height: 100%;
    border-radius: 50%;}
.boxGallery{
    height: 60%;
    width: 90%;
    background-color: #F5E5E5;
    margin-bottom: 14%;
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.fotosDeGallery{
    height: 30%;
    width: 30%;
}